.venv/Include/site/python3.12/greenlet/greenlet.h
*.pyd
*.pyc
/.venv
dagster-dbt-poc/.env
/dagster-dbt-poc/.idea
/dagster-dbt-poc/.tmp_dagster_home_g3j4w_92
/dagster-dbt-poc/dagster_dbt_poc.egg-info
dagster-dbt-poc/dbt_project/.user.yml
/dagster-dbt-poc/dbt_project/logs
/dagster-dbt-poc/dbt_project/target
/dagster-dbt-poc/venv
/dbt-dagster-env
